<section class="banners banner-1 d-flex flex-column justify-content-center">
  <div class="container">
    <div class="card my-5">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="quote" class="form-label">Frase</label>
            <input type="text" class="form-control" id="quote" placeholder="Digite a sua frase" />
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Autor</label>
            <input type="text" class="form-control" id="author" placeholder="Digite o nome do autor" />
          </div>
          <div class="mb-3 form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="notifiable" checked>
            <label class="form-check-label" for="notifiable">Envio de notificação</label>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">
              Salvar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center">
      <p class="mb-0 fw-bold">
        <a href="#">Minhas Frases</a>
      </p>
    </div>
  </div>
</section>
