# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Node / React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo/
dist/
build/

# Docker
*.pid
*.sock
*.db
*.sqlite3

# IDEs / Configs
.vscode/
.idea/
*.swp
.DS_Store
