<section class="banners banner-1 d-flex flex-column justify-content-center">
  <div class="container">
    <div class="card my-5">
      <div class="card-body">
<!--        <div *ngFor="let pensamento of pensamentos">
          <app-pensamento [pensamento]="pensamento"></app-pensamento>
        </div>-->
        <app-pensamento></app-pensamento>
      </div>
      <div class="card-body">
        <app-pensamento></app-pensamento>
      </div>
      <div class="card-body">
        <app-pensamento></app-pensamento>
      </div>
    </div>
    <div class="text-center">
      <div class="d-grid">
        <button class="btn btn-primary" routerLink="/savequote">Nova Frase</button>
      </div>
    </div>
  </div>
</section>
