<section class="banners banner-1 d-flex flex-column justify-content-center text-center">
<div class="container-fluid">
      <div class="card my-5">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="name@example.com" />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="*******" />
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center">
        <p class="mb-0">
          Don't have an account? <a href="#">Sign up</a>
        </p>
      </div>
    </div>
</section>
