<app-cabecalho></app-cabecalho>
<main>
  <section class="banners banner-1 d-flex flex-column justify-content-center text-center">
    <div class="banners-titulo bg-body-secondary py-5">
      <h2 class="fw-bold">Registre suas melhores frases, ideias e pensamentos.</h2>
      <p>Bem-vindo ao MyQuotes!</p>
    </div>
  </section>
  <section class="banners banner-2 d-flex flex-column justify-content-center text-center">
    <div class="banners-titulo bg-body-secondary py-5">
      <h2 class="fw-bold">Receba insights diários, conforme você quiser.</h2>
      <p>Bem-vindo ao MyQuotes!</p>
    </div>
  </section>
  <section class="banners banner-3 d-flex flex-column justify-content-center text-center">
    <div class="banners-titulo bg-body-secondary py-5">
      <h2 class="fw-bold">Organize seus pensamentos em um único lugar.</h2>
      <p>Bem-vindo ao MyQuotes!</p>
    </div>
  </section>
</main>
<app-rodape></app-rodape>
